# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Datasets and results
data/

# Virtual environment
venv/
env/
.venv/
.conda/
*-env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log
*.out
*.err

# IDE / Editor specific files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables and secrets
.env
*.json
*.yaml
*.yml
